.zlyToNiffler {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
}
.maskLayer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.zlyToNiffler .zlyToNiffler_con{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -15rem;
    margin-left: -42.67%;
    width: 85.34%;
    height: 30rem;
    background-color: rgba(255,255,255,0.9);
    border-radius: 0.75rem;
    box-shadow:0.125rem 0 2.125rem rgba(39,52,125,0.25);
    box-sizing: border-box;
}
.zlyToNiffler .zlyToNiffler_title{
    padding-top: 1.0625rem;
    color:#212C68;
    text-align: center;
    margin-bottom: 0.875rem;
}
.zlyToNiffler .zlyToNiffler_title h4{
    font-size:1.25rem;
}
.zlyToNiffler .zlyToNiffler_title p{
    font-size:0.875rem;
    line-height: 2.1875rem;
}
.zlyToNiffler_firstep, .zlyToNiffler_secstep{
    text-align: center;
    color: #000;
    margin-bottom: 2.0625rem;
}
.zlyToNiffler_firstep h4,.zlyToNiffler_secstep h4{
    font-size:1.125rem;
    margin-bottom: 1.1875rem;
}
.zlyToNiffler_firstep .imgBox{
    width: 7.8125rem;
    height: 7.8125rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/zlyToNiffler_firstep_border.png) no-repeat center;
    background-size: 7.25rem 7.3125rem;
    background-color: #fff;
}
.zlyToNiffler_firstep .imgBox img{
    width: 6.375rem;
    height: 6.375rem;
}
.zlyToNiffler_con .btn{
    display: block;
    margin: 0 auto;
    width:9.5rem;
    height:2.5625rem;
    line-height: 2.5625rem;
    border-radius:1.3125rem;
    border:0.125rem solid rgba(251,100,33,0.6);
    font-size: 0.875rem;
    color:#212C68;
    margin-top: 1rem;
}